.btn {
    padding: 4xp 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.primary {
    color: white;
    background-color: blue;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}